<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>668568112535-lqu5juig3qt7274mnut3adilcj1tibv6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.668568112535-lqu5juig3qt7274mnut3adilcj1tibv6</string>
	<key>API_KEY</key>
	<string>AIzaSyBqxlC3tPBY6Dv0L0ccj0PSh9bs9iV6uzY</string>
	<key>GCM_SENDER_ID</key>
	<string>668568112535</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>MAC.ButtonMagic</string>
	<key>PROJECT_ID</key>
	<string>buttonmagic-b6629</string>
	<key>STORAGE_BUCKET</key>
	<string>buttonmagic-b6629.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:668568112535:ios:f08145cc3cdf6a29</string>
	<key>DATABASE_URL</key>
	<string>https://buttonmagic-b6629.firebaseio.com</string>
</dict>
</plist>